!!!
%html
  %head
    %title Untitled Metro Project
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "shared/topbar"
    .container
      .content= yield
      .footer
        &copy; 2011 Tom Jakubowski.